<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artec.mobile.clienti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ClientiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="@string/CLOUDINARY_URL" />

        <activity
            android:name=".login.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup.ui.SignUpActivity"
            android:label="@string/signup.title"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.ui.LoginActivity" />
        </activity>
        <activity
            android:name=".main.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".productos.ui.ProductosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detalleVentas.ui.DetalleVentaActivity"
            android:label="@string/ventas.detalle.title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".clientiInactive.ui.ClientiInactiveActivity"
            android:label="@string/clientiInactive.title"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".indicadores.ui.IndicadoresActivity"
            android:label="indicadores.title"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>